<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    設定<br />
    <a href="/graph">グラフ</a><br />
    <a href="/table">表</a>
  </body>
</html>
